.log{
    text-align: center;
}
.eml{
    font-size: 20px ;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    margin-right: 1410px;
    border-radius: 15px;
}
.psd{
    font-size: 20px ;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;  
    margin-right: 1370px; 
}
.form-control{
    height: 40px;
    width: 1300px;
    background-color: azure;
    margin-left: 35px;
}
.not{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 17px;
}
.link{
    margin-left: 3px;
    color: blue;
}
.bn-bt{
    margin-right: 195px;
    margin-top: 20px;
    height: 50px;
    width: 80px;
    background-color: rgb(158, 198, 98);
}
.btn-md:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
  }